.home {
  position: relative;
  min-height: calc(100vh - var(--header-height));
  min-height: calc(100svh - var(--header-height));
  overflow: hidden;
  background: var(--color-video);
}

.heroImage {
  object-fit: cover;
  object-position: center center;
}

@media (max-width: 1039px) {
  .heroImage {
    object-position: 68% center;
  }
}

@media (max-width: 767px) {
  .heroImage {
    object-position: 72% center;
  }
}
